body {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 14px!important;
    color: #888!important;
}

a, a:hover { text-decoration: none!important; }

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6, strong {
    color: #333!important;
    font-family: 'Lato', sans-serif!important;
}


.thumbnail {
    width: 100%!important;
}

/* forms */
input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    height: 50px;
}

select {
    width: 100%;
    height: 50px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 1px solid #ddd;
    background: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/MediaWiki_Vector_skin_action_arrow.svg) no-repeat #fff;
    background-position-x: 98%;
    background-position-y: 50%;
}

textarea {
    width: 100%!important;
    height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
}

.inner-addon .ionicons {
    position: absolute;
    padding: 8px;
    pointer-events: none;
}

.inner-addon { position: relative; }
.left-addon .ionicons  { left:  0;}
.right-addon .ionicons { right: 0;}
.left-addon input  { padding-left:  40px; }
.right-addon input { padding-right: 30px; }
.ionicons { font-size: 2.5em; }

@media only screen and (max-width: 768px) {
    .left-input {
        padding-right: 5px!important;
    }

    .right-input {
        padding-left: 5px!important;
    }
}

.form-control {
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0;
    font-size: 16px!important;
    font-weight: 400;
}

.signup-login-header {
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size: 32px;
}

.signup-login-btn {
    height: 55px!important;
    font-weight: 400;
    color: #fff;
    background: #000;
    color: #fff;
}

.signup-login-btn:hover {
    background: #333;
    color: #fff!important;
}

.signup-login-form-border {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 30px 40px;
}

.signup-login-footer {
    padding-top: 20px;
    font-size: 16px;
}

.signup-login-footer-btn {
    padding: 8px 18px!important;
    margin: -8px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
    float: right;
    text-decoration: none!important;
}

.signup-login-footer-btn:hover {
    color: #000;
}

/* navbar */
.ionicons-user {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 15px!important;
}

.ionicons-search {
    padding: 15px 18px!important;
    font-size: 24px!important;
}

.header-user-container {
    border-left: 1px solid #e7e7e7;
    height: 55px;
}

.header-user {
    position: relative;
    top: -5px;
    padding-right: 10px;
}

.navbar {
    margin-bottom: 0!important;
    position: fixed!important;
    width: 100%;
    z-index: 1000;
    height: 56px;
}

.navbar-default {
    background-image: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.navbar-default {
    background-color: #fff!important;
}

.navbar-brand {
    height: 55px!important;
}

.navbar-form {
    width: 58%!important;
}

.navbar-nav>li>a {
    line-height: 25px!important;
    text-shadow: none!important;
    font-size: 13px!important;
}

.header-post-listing-btn {
    padding: 4px 15px!important;
    margin: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #888!important;
    border: 2px solid #e7e7e7;   
}

.header-post-listing-btn:hover{
    color: #333!important;
    border: 2px solid #ddd!important;
}

.header-search-form {
    border: 1px solid #e7e7e7!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
    width: 100%!important;
    left: 115px;
    height: 45px!important;
    margin: 4px;
    font-size: 13px!important;
}

.header-search-btn {
    display: none!important;   
}

.navbar-form {
    margin-top: 0!important; 
    margin-right: 0!important; 
    margin-bottom: 0!important; 
    margin-left: 0!important; 
    border-top: 0!important;
    border-bottom: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 0!important;
}

/* footer */
footer {
    position: fixed;
    border-top: 1px solid #e7e7e7;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 45px;
    color: #bababa;
    background-color: #fff;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 40px 0;
    }
}

.footer p {
    color: #aaa;
    font-size: 12px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
}

.footer a {
    color: #bababa;
    font-weight: 400;
    text-decoration: none!important;
    font-size: 12px;
}

.footer a:hover {
    color: #333;
    background-color: #fff;
    text-decoration: none!important;
    cursor: pointer;
}

.footer ul {
    margin: 0;
}

.footer li {
    display: inline-block;
    margin-right: 25px;
}

#main {
    padding: 75px 0 75px 0!important;
}

#main-alt {
    padding: 75px 0 125px 0!important;
}

#main-large {
    padding: 125px 0 125px 0!important;
}

/* popup */
.modal {
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,0.4)!important;
    padding-top: 100px!important;

}

.modal-content {
    background-color: #fff!important;
    margin: 0 auto!important;
    border: 0px!important;
    width: 30%!important;
    padding: 50px;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000!important;
    font-size: 45px!important;
    font-weight: bold!important;
}

.close:hover,
.close:focus {
    color: red!important;
    cursor: pointer!important;
}

.form-container {
    width: 35%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #e7e7e7;
}

/* post a listing */
.post-container {
    width: 50%;
    margin: 0 auto;
}

.post-disclaimer {
    padding: 20px;
    border: 1px solid #e7e7e7;
    background: #fff;
}

.post-btn {
    width: 40%!important;
    float: right;
    color: #fff;
    padding: 15px 15px!important;
    background: #888;
}

.post-btn:hover {
    background: #666!important;
    color: #fff!important;
}

/* sidebar */
.sidebar {
    margin: 15px 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}

.sidebar a { color: #444; }

/* about header */
#about-header {
    background: url(../public/img/about-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
    background-position: center;
    padding: 0;
    margin: 0;
}

.problem-header {
    font-size: 150px;
    font-weight: 700;
}


/* home page */
#home-header {
    background-size: cover!important;
    width: 100%;
    height: 550px;
    background-position: center;
    padding: 0;
    margin: 0;
    background: url(../public/img/home-bg.jpg);
}

.home-title-container {
    position: relative;
    margin: 55px auto;
    padding: 8% 0;
    height: auto;
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-bottom: 0;
    width: 80%;
}

.top-title {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff!important;
}

.bottom-title {
    font-size: 28px;
    margin-top: 10px;
    color: #fff!important;
}

.ionicons-search-home {
    font-size: 25px;
    padding: 12px!important;
    z-index: 100;
}

.home-search-container {
    margin: 45px auto;
    width: 70%;
    display: inline-block;
}

.home-search-btn {
    margin-left: 5px!important;
    height: 50px!important;
    border-radius: 4px!important;
    padding: 0 30px!important;
    color: #fff!important;
    background: #333!important;
    border: 0!important;
    font-size: 16px!important;
}

.home-search-form {
    border: 0!important;
}

.page-title-container {
    margin: 50px 0 100px;
    text-align: center;
}

.featured-listing-container, .manage-listing-container, .favorites-listing-container {
    max-width: 330px;
    margin: 20px;
    display: inline-block;
}

.page-subtitle-container {
    margin-bottom: 50px;
    text-align: center;
} 

.listing-container {
    max-width: 380px;
    margin: 20px;
    display: inline-block;
}

.manage-listing-preview, .listing-preview {
    text-align: left;
}

.manage-listing-preview a, .listing-preview a {
    color: #333;
}

.manage-listing-preview p, .listing-preview p {
    font-size: 14px;
    line-height: 8px;
}

.listing-message-btn {
    margin: 25px 0 0 0;
    font-size: 13px!important;
    border: 0!important;
    background: #5cb85c!important;
    color: #fff!important;
    font-family: 'Lato', sans-serif!important;
    padding: 10px 18px!important;
}

.listing-message-btn:hover{
    background: #58a258!important;
}

.listing-price {
    position: absolute;
    color: #e7e7e7;
    font-size: 18px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.55);
    padding: 10px;
    left: 0px;
}

.listing-icons {
    width: 25px!important;
    padding: 2px;
}

.thumbnail {
    box-shadow: none!important;
    border: 0!important;
    background: none!important;
    padding: 0px!important;
    border-radius: 0px!important;
}

.manage-post-listing-btn-container {
    margin: 40px auto;
}

.manage-post-listing-btn {
    padding: 10px 30px!important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff!important;
    border: 0;
    background: #888; 
}

.manage-post-listing-btn:hover{
    background: #666!important; 
}

.dropdown-menu {
    border: 0!important;
}

.favorite-btn {
    position: absolute;
    color: rgba(0, 0, 0, 0.55);
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    padding: 10px;
    right: 0px;
    border: 0px!important;
}

.listing-image-container {
    display: inline-block;
    position: relative;
}

.crop {
    height: 450px;
    overflow: hidden;
}

.crop img {
    margin: -200px 0 -150px 0!important;
    width: 100%!important;
}