body {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 14px!important;
    color: #888!important;
}

a, a:hover { text-decoration: none!important; }

p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6, strong {
    color: #333!important;
}

img {
    width: 100%!important;
}

/* forms */
input[type="text"], input[type="email"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #555;
    padding: 5px 10px;
    height: 50px;
}

textarea {
    width: 100%!important;
    height: 150px;
}

.inner-addon .ionicons {
    position: absolute;
    padding: 8px;
    pointer-events: none;
}

.inner-addon { position: relative; }
.left-addon .ionicons  { left:  0;}
.right-addon .ionicons { right: 0;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.ionicons { font-size: 2.5em; }

.form-control {
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0;
    font-size: 16px!important;
    font-weight: 400;
}

.signup-login-header {
    text-align: center;
    font-weight: 400;
    margin: 0 0 30px 0;
    font-size: 32px;
}

.signup-login-btn {
    height: 55px!important;
    font-weight: 400;
    color: #fff;
    background: #000;
    color: #fff;
}

.signup-login-btn:hover {
    background: #333;
    color: #fff!important;
}

.signup-login-form-border {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 30px 40px;
}

.signup-login-footer {
    padding-top: 20px;
    font-size: 16px;
}

.signup-login-footer-btn {
    padding: 8px 18px!important;
    margin: -8px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
    float: right;
    text-decoration: none!important;
}

.signup-login-footer-btn:hover {
    color: #000;
}

/* navbar */
.ionicons-user {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    padding-right: 15px!important;
}

.ionicons-search {
    padding: 15px 8px!important;
    font-size: 24px!important;
}

.header-user-container {
    border-left: 1px solid #e7e7e7;
    height: 55px;
}

.header-user {
    position: relative;
    top: -5px;
    padding-right: 10px;
}

.navbar {
    margin-bottom: 0!important;
    position: fixed!important;
    width: 100%;
    z-index: 1000;
    height: 56px;
}

.navbar-default {
    background-image: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.navbar-default {
    background-color: #fff!important;
}

.navbar-brand {
    border-right: 1px solid #e7e7e7;
    height: 55px!important;
}

.navbar-form {
    width: 50%!important;
}

.navbar-nav>li>a {
    line-height: 25px!important;
    text-shadow: none!important;
    font-size: 13px!important;
}

.header-post-listing-btn {
    padding: 4px 15px!important;
    margin: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #888!important;
    border: 2px solid #e7e7e7;   
}

.header-post-listing-btn:hover{
    color: #333!important;
    border: 2px solid #ddd!important;
}

.header-search-form {
    border: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
    width: 50%!important;
    position: absolute;
    top: 2px;
    left: 115px;
}

.header-search-btn {
    visibility: hidden;   
}

.navbar-form {
    margin-top: 0!important; 
    margin-right: 0!important; 
    margin-bottom: 0!important; 
    margin-left: 0!important; 
    border-top: 0!important;
    border-bottom: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

/* footer */
footer {
    position: relative;
    border-top: 1px solid #e7e7e7;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 45px;
    color: #bababa;
    background-color: #fff;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 40px 0;
    }
}

.footer p {
    color: #aaa;
    font-size: 12px;
    line-height: 45px;
    font-weight: 400;
    margin: 0;
}

.footer a {
    color: #bababa;
    font-weight: 400;
    text-decoration: none!important;
    font-size: 12px;
}

.footer a:hover {
    color: #333;
    background-color: #fff;
    text-decoration: none!important;
    cursor: pointer;
}

.footer ul {
    margin: 0;
}

.footer li {
    display: inline-block;
    margin-right: 25px;
}

#main {
    padding: 75px 0 75px 0!important;
}

#main-alt {
    padding: 125px 0 75px 0!important;
}

/* popup */
.modal {
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,0.4)!important;
    padding-top: 100px!important;

}

.modal-content {
    background-color: #fff!important;
    margin: 0 auto!important;
    border: 0px!important;
    width: 30%!important;
    padding: 50px;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000!important;
    font-size: 45px!important;
    font-weight: bold!important;
}

.close:hover,
.close:focus {
    color: red!important;
    cursor: pointer!important;
}

.form-container {
    width: 35%;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #e7e7e7;
}

/* post a listing */
.post-container {
    width: 90%;
    margin: 0 auto;
}

.post-disclaimer {
    padding: 20px;
    border: 1px solid #e7e7e7;
}

/* sidebar */
.sidebar {
    margin: 15px 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}

.sidebar a { color: #444; }

/* about header */
#about-header {
    background: url(../public/img/about-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
    background-position: center;
    padding: 0;
    margin: 0;
}

.problem-header {
    font-size: 150px;
    font-weight: 700;
}

.listing-thumbnails {
    max-height: 250px;
    max-width: 350px;
    height: 100%;
}

.listing-container {
    padding: 10px;
    display: inline-block;
}

.listing-preview {
    float: right;
    padding: 0 15px;
}

.listing-preview a {
    color: #333;
}

.listing-preview p {
    font-size: 14px;
    line-height: 8px;
}

.listing-message-btn {
    margin: 35px 0 0 0;
    font-size: 13px!important;
    border: 2px solid #e7e7e7!important;
    background: #fff!important;
    padding: 8px 18px!important;
}

.listing-message-btn:hover{
    border: 2px solid #ddd!important;
}

.listing-price {
    position: absolute;
    color: #e7e7e7;
    font-size: 18px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.55);
    padding: 10px;
}

.listing-icons {
    width: 25px!important;
    padding: 2px;
}