body {
    font-family: 'Lato', sans-serif!important;
    font-size: 12px!important;
}

a:hover {
    text-decoration: none!important;
}

/* forms */
input[type="text"], input[type="email"], input[type="password"] {
    background-color: #fff;
    border: 1px solid #555;
    padding: 5px 10px;
    height: 50px;
}

.inner-addon .ionicons {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.inner-addon { position: relative; }
.left-addon .ionicons  { left:  0;}
.right-addon .ionicons { right: 0;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.ionicons { font-size: 2.5em; }

.signup-login-header {
    text-align: center;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-size: 24px;
}

.signup-login-btn {
    height: 55px!important;
    font-weight: 400;
    color: #fff;
    background: #000;
    color: #fff;
}

.signup-login-btn:hover {
    background: #333;
    color: #fff!important;
}

.signup-login-form-border {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 30px 40px;
}

.signup-login-footer {
    padding-top: 20px;
    font-size: 16px;
}

.signup-login-footer-btn {
    padding: 8px 18px!important;
    margin: -8px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
    float: right;
    text-decoration: none!important;
}

.signup-login-footer-btn:hover {
    color: #000;
}

/* navbar */
.navbar {
    margin-bottom: 0!important;
}

.navbar-default {
    background-image: none!important;
    background-repeat: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.navbar-default {
    background-color: #fff!important;
}

.nav>li {
    padding: 0 5px!important;
}

.navbar-nav>li>a {
    line-height: 25px!important;
    text-shadow: 0!important;
    font-size: 14px!important;
}

.header-post-listing-btn {
    padding: 5px 18px!important;
    top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff!important;
    background: #000;
}

.header-post-listing-btn:hover {
    background: #333;
}

.header-search-form {
    border: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

.header-search-btn {
    visibility: hidden;   
}


@media (min-width: 768px) {
    .navbar-form {
        padding-top: 8px!important;
        padding-bottom: 8px!important;
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 0!important; 
    margin-right: 0!important; 
    margin-bottom: 0!important; 
    margin-left: 0!important; 
    border-top: 0!important;
    border-bottom: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

/* footer */
footer {
    position: relative;
    border-top: 1px solid #e7e7e7;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 45px;
    color: #bababa;
    background-color: #fff;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 40px 0;
    }
}

.footer p {
    color: #aaa;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.footer a {
    color: #bababa;
    font-weight: 300;
    text-decoration: none!important;
}

.footer a:hover {
    color: #333;
    background-color: #fff;
    text-decoration: none!important;
    cursor: pointer;
}

.footer ul {
    margin: 0;
}

.footer li {
    display: inline-block;
    margin-right: 25px;
}

#main {
    padding: 100px 0!important;
}

/* popup */
.modal {
    width: 100%!important;
    height: 100%!important;
    background-color: rgba(0,0,0,0.4)!important;
    padding-top: 60px!important;
}

.modal-content {
    background-color: #fff!important;
    margin: 0 auto!important;
    border: 0px!important;
    width: 30%!important;
    padding: 50px;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #000!important;
    font-size: 45px!important;
    font-weight: bold!important;
}

.close:hover,
.close:focus {
    color: red!important;
    cursor: pointer!important;
}